:root {
  /* Primary Colors */
  --primary-midnight-blue: #2c3e50; /* Headers, footers, navigation */
  --primary-white: #f8f9fa; /* Light background */
  --text-color: #333; /* Dark text for better contrast */

  /* Secondary Colors */
  --secondary-light-gray: #b3cbcf; /* Card backgrounds */
  --secondary-button-active-state: #154b3d; /* Buttons and active states */
  --secondary-warning-error: #e7723c; /* Warnings and errors */

  /* Accent Color */
  --accent-gold: #a0820a; /* Highlights */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white);
  color: var(--text-color);
}

h1,
h2,
h3 {
  font-family: 'Lucida Grande', sans-serif;
  margin-bottom: 1rem; 
}

header {
  background-color: var(--primary-midnight-blue);
  color: var(--accent-gold);
  height: 60px; 
  display: flex;
  align-items: center;
  padding: 0 20px;
}

nav {
  max-height: 60px;
  display: flex;
  align-items: center;
}

footer {
  background-color: var(--primary-midnight-blue);
  color: var(--accent-gold);
  text-align: center;
  padding: 10px 0;
}

.footer .container {
  margin: 0 auto;
  padding: 0 15px;
}

.footer p {
  margin: 0;
}

