{% extends 'base.html.twig' %}

    {% block title %}
        La Bibliotheque
    {% endblock %}

    {% block body %}
        {{ parent() }}
        <style>
            body {
                background-color: var(--primary-white);
                color: var(--primary-midnight-blue);
                text-align: center;
                padding-top:70px;
            }
        </style>

        <container class="heading">

            <h1>La Bibliotheque !!!</h1>

            <h4>Votre Books & Business Bibliotheque</h6>
        </container>

    {% endblock %}