{% extends 'base.html.twig' %}
    {% block title %}
    La Bibliotheque
    {% endblock %}

    {% block body %}
    <style>
    body {
    background-color: rgb(61, 90, 90);
    color: rgb(152, 153, 185);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top:70px;
    }

    h1 {
        font-family: 'Lucida Grande', sans-serif;
    }
    </style>

        <container class="heading">
            <h1>La Bibliotheque !</h1>
            <h4>Votre Books & Business Bibliotheque</h6>
        </container>

    {% endblock %}