{% extends 'base.html.twig' %} 

{% block title %}New Users{% endblock %} 

{% block body %}

<h1>Create new Users</h1>

{{ form_start(form) }}
{{ include("admin/_form.html.twig") }}
{{ form_end(form) }}
<script src="{{ asset('app.js') }}"></script>

{% endblock %}
