
:root {
    /* Primary Colors */
    --primary-midnight-blue: #384a5c; /* Headers, footers, navigation */
    --primary-white: #c6c3ca; /* Background and content areas */

    /* Secondary Colors */
    --secondary-light-gray: #b3cbcf; /* Card backgrounds */
    --secondary-button-active-state: #154b3d; /* Buttons and active states */
    --secondary-warning-error: #e7723c; /* Warnings and errors */

    /* Accent Color */
    --accent-gold: #a0820a; /* Highlights*/
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    font-family: "Roboto", sans-serif;
    background-color: var(--primary-white);  
  }
  
  h1,
  h2,
  h3 {
    font-family: 'Lucida Grande', sans-serif;
    text-align: center;
  }

  p {
    font-size: 1rem ;    
  }

  header {
    background-color: var(--primary-midnight-blue);
    color: var(--accent-gold);
    height: 60px;
  }

  .container { 
    text-align: center;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
  }
  
  .card { 
    margin: 10px; 
    border: 1px solid #8f9194; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  } 
  
  .card img {
    max-height: 400px; 
    object-fit: cover;
    object-position: bottom;
    border-top-left-radius: 0.25rem; 
    border-top-right-radius: 0.25rem; 
  } 
  
  .card-body { 
    padding: 15px; 
  } 
  
  .card-title {  
    margin-bottom: 10px; 
  } 
  
  .card-text { 
    color: #6c757d; 
  } 
  
  .btn-primary { 
    background-color: #154b3d; 
    border: none; 
    color: white; 
    padding: 5px 10px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: .8rem; 
    margin-top: 10px; 
    border-radius: 0.25rem; 
    cursor: pointer; 
  } 
  
  .btn-primary:hover {
    background-color: #163023;
  }

  footer {
    background-color: var(--primary-midnight-blue);
    color: var(--accent-gold);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
  }

