<section class="dashboard-details">
  <div class="details-section">
    <h2>User Comments</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Rating</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        {% for showComment in showComments %}
        <tr>
          <td>
            {{ showComment.user.firstName ~ ' ' ~ showComment.user.lastName }}
          </td>
          <td>
            <div
              class="starability-result"
              data-rating="{{ showComment.rating }}"
            ></div>
          </td>
          <td>{{ showComment.comment }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
