{% extends 'base.html.twig' %} 

{% block title %}Comments{% endblock %} 

{% block body %}
<h1>Comments</h1>

<section class="dashboard-details">
  <div class="details-section">
    <h2>User Comments</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Rating</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ comment.user.firstName ~ comment.user.lastName}}</td>
          <td>{{ comment.rating }}</td>
          {% for loan in loans %}
          <td>{{ comment.comment|date('Y-m-d') }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
